<div class="row">

  <div class="span10">
    <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="addStudent = true"><i class="icon-plus"
                                   "icon-white"></i></button>
    </div><!-- /btn-group -->
    <div class="btn-group pull-right">
      <button class="btn"><i class="icon-chevron-right
      icon-blue"></i></button>
      <button class="btn"><i class="icon-chevron-left icon-blue"></i></button>
    </div>
</div><!-- /btn-toolbar -->
  </div>
</div>
  <div class"row" ng-show="addStudent">
</br>
   <form class="form-inline"> 
      <input type="text" class="input-large" ng-model="newStudent.name" placeholder="Name"/>
      <input type="text" class="input-large" ng-model="newStudent.phone" placeholder="Phone"/>
      <button type="submit" class="btn">Add</button>
      <button type="submit" class="btn" ng-click="addStudent = false">Cancel</button>
    </form>  
  </div>

  <div class="row">
</br>
  <div class="span6">
    <form class="form-inline"> 
      <input type="text" class="input-large" ng-model="studentFilter.name" placeholder="Name"/>
      <input type="text" class="input-large" ng-model="studentFilter.thaali" placeholder="Thaali"/>
    </form>
  </div>
    <div class="span12">
    <table class="table table-striped">
              <thead>
                <tr>
                  <th>Org</th>
                  <th>Dest</th>
                  <th>Service Level</th>
                  <th>Service Type</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="v in vs | filter:vFilter">
                  <td>
                    <label class="checkbox">
                      <input type="checkbox"> Check me out
                    </label>
                    <a href="" ng-click="student.isDetailed = !student.isDetailed"><i class="{{iconClass(student.isDetailed)}} icon-blue"></i></a>
                  {{student.name}}</td>
                  <td>{{student.thaali}}</td>
                  <td>{{student.pendingHub}}</td>
                  <td>{{student.phone}}</td>
                </tr>
              </tbody>
            </table>
    </div>

<div>
Detailed modal
</div>
    </div>

